.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.btnContainer{
    display: flex;
    width: 25%;
    justify-content: space-around;
}
.home button{
    padding: 0.5rem 1rem;
    transition: all ease 0.3s;
    border-radius: 10%;
    font-size: small;
    background-color: blue;
    color: white;
}
.home button:hover{
    transform: scale(1.1);
    opacity: 0.8;
    cursor:pointer;
    background-color: orange;
    color: black;
}