@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 95vh;
}
.btnContainer{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.home button{
    padding: 0.5rem 1rem;
    transition: all ease 0.3s;
    border-radius: 10%;
    font-size: small;
    background-color: blue;
    color: white;
}
.home button:hover{
    transform: scale(1.1);
    opacity: 0.8;
    cursor:pointer;
    background-color: orange;
    color: black;
}
.home h1{
    font-family: 'Source Code Pro', monospace;
    position: relative;
}
.home h1::before,
.home h1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.home h1::before{
    background-color:white;
    animation: typewrite 4s steps(23) 0.5s forwards;
}
.home h1::after{
    width: 0.125rem;
    background: black;
    animation: 
        typewrite 4s steps(23) 0.5s forwards,
        blink 750ms steps(23) infinite;
}
.home p{
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeInUp 2s ease 4s forwards;
}

@keyframes typewrite{
    to{
        left: 100%;
    }
}
@keyframes blink {
    to{
        background: transparent;
    }
}
@keyframes fadeInUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}