.navbar{
    background-color: black;
    border: rgb(0, 90, 207) 5px solid;
    width: 100%;
    height: 5vh;
    display: flex;
    align-content: space-around;
    align-items: center;
}
.navbtn{
    color: white;
    margin: 0;
    left: -1;
    display: flex;
    align-content: space-between;
}