.project{
    width: 20rem;
    height: auto;
    border: black solid 2px;
    border-radius: 15%;
    text-align: center;
}
.subTitle{
    font-weight: bold;
}
.imageContainer{
    height: 10rem;
    margin:0 2rem;
}
.descripitionContainer{
    height: 8rem;
    margin:0 1rem;
}
.buttonContainer{
    margin-bottom: 2rem;
}
.buttonContainer button{
    margin: 0 1rem;
    font-size: small;
    border-radius: 10%;
}